:root {
    --colourBlack: #000;
    --colourWhite: #fff;

    --paddingElementDefaultY: 1rem;
    --paddingElementDefaultX: 2rem;

    --radiusDefault: 16px;

    --cardWidth: 180px;
    --cardHeight: 280px;
}

::selection {
    text-shadow: none;
    background-color: var(--colourBlack);
}

body {
    margin: 0;

    font-size: 16pt;
    font-family: 'Raleway', sans-serif;

    color: var(--colourWhite);
    background-color: #333;
}

main {
    width: 60ch;
    max-width: 100%;
    margin: var(--paddingElementDefaultY) auto 0 auto;
    padding: var(--paddingElementDefaultY) var(--paddingElementDefaultX);

    box-sizing: border-box;
    overflow-x: hidden;
}

p:first-of-type {
    margin-top: 0;
}

p:last-of-type {
    margin-bottom: 0;
}

p,
label {
    line-height: 1.4;
}

label {
    font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 4em;
}

.button {
    display: block;

    padding: var(--paddingElementDefaultY) var(--paddingElementDefaultX);

    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

input {
    padding: var(--paddingElementDefaultY);

    font-family: inherit;
    font-size: inherit;

    color: inherit;
    background-color: inherit;
    border: 1px solid var(--colourWhite);
    border-radius: var(--radiusDefault);
}

input:focus-visible {
    outline: none;
}

.button,
input[type="submit"] {
    cursor: pointer;
    border: 1px solid var(--colourWhite);
}

.button:hover,
input[type="submit"]:hover {
    color: var(--colourBlack);
    background-color: var(--colourWhite);
}

form {
    margin-top: 2em;
}

form > * {
    margin-bottom: 1em;
}

form > *:last-child {
    margin-bottom: 0;
}

form label,
form input {
    display: block;
    width: 100%;

    box-sizing: border-box;
}

.card {
    width: var(--cardWidth);
    height: var(--cardHeight);
    padding: var(--paddingElementDefaultX);

    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                0 2px 2px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.12);
    border-radius: var(--radiusDefault);
    user-select: none;
    overflow: hidden auto;
}

.card.black {
    color: var(--colourWhite);
    background-color: var(--colourBlack);
}

.card.white {
    color: var(--colourBlack);
    background-color: var(--colourWhite);
}

@media(max-width: 768px) {
    main {
        padding: calc(var(--paddingElementDefaultY) / 2) calc(var(--paddingElementDefaultX) / 2);
    }

    h1 {
        font-size: 2em;
    }
}